<div class="app-root">
    <!-- Drawer -->
    <aside class="mdc-drawer mdc-drawer--permanent mdc-typography" [hidden]="!showDrawer">
        <nav class="mdc-drawer__drawer">
            <header class="mdc-drawer__header">
                <div class="mdc-drawer__header-content">
                    <!-- Header here -->
                </div>
            </header>
            <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
                <!-- Navigation for shop owners -->
                <a class="mdc-list-item mdc-list-item--activated" routerLink="/dashboard">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>Dashboard
                </a>
                <a class="mdc-list-item" routerLink="/products">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_offer</i>Products
                </a>
                <a class="mdc-list-item" routerLink="/orders">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">shopping_basket</i>Orders
                </a>
                <a class="mdc-list-item" routerLink="/transactions">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">import_export</i>Transactions
                </a>
                <a class="mdc-list-item" routerLink="/settings">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>Settings
                </a>
            </nav>
        </nav>
    </aside>
    
    <!-- Main app -->
    <main main-content>
        <!-- Toolbar -->
        <header class="mdc-toolbar">
            <div class="mdc-toolbar__row">
                <section class="mdc-toolbar__section ">
                    
                    <!-- <span class="mdc-toolbar__title">Title</span> -->
                    <span class="flex"></span>
                    <div class="user-header-actions">
                        <button class="mdc-icon-button material-icons">search</button>
                        <button class="mdc-icon-button material-icons">notifications_none</button>
                        <button class="mdc-icon-button material-icons">settings</button>
                    </div>
                    <div id="demo-menu" class="mdc-menu-anchor">
                        <div class="avatar user-avatar" (click)="toggleMenu($event)">
                            <img src="https://s3.amazonaws.com/assets.materialup.com/users/pictures/000/004/940/thumb/tr2snCNC_400x400.jpg?1507619572">
                        </div>
                        <div class="mdc-menu" tabindex="-1" #userMenu>
                            <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                                <li class="mdc-list-item" role="menuitem" tabindex="0">
                                    Your Profile
                                </li>
                                <li class="mdc-list-item" role="menuitem" tabindex="-1" aria-disabled="true">
                                    Log out
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </header>
        <div class="routes">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
