@import '~@material/toolbar/dist/mdc.toolbar.css';
@import '~@material/drawer/dist/mdc.drawer.css';
@import '~@material/list/dist/mdc.list.css';
@import '~@material/button/dist/mdc.button.css';
@import "~@material/icon-button/dist/mdc.icon-button.css";
@import "~@material/menu/dist/mdc.menu.css";

.app-root{
    display: flex;
}

header{
    --mdc-theme-primary: var(--app-background-color);
    color: #4c4c4c !important;
}
.user-header-actions{
    margin: 0 12px;
}
.user-avatar{
    cursor: pointer;
}
.user-avatar>img{
    pointer-event: none;
}

[main-content]{
    min-height: 100vh;
    flex:1;
}

nav a.mdc-list-item--activated{
    color: var(--app-primary-color);
    background-color: #e3d9f3;
    font-weight: 600 !important;
}
nav>a.mdc-list-item{
    
}

aside.mdc-drawer{
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    z-index: 1;
}