* {
    box-sizing: border-box;
}

:root{
    --app-primary-color: #6e657f;
    --app-secondary-color: #39b9b1;
    --app-background-color: #FAFAFB;
    --app-light-text-color: #737373;
    --app-section-even-color: #f7f7f7;

    --app-header-background-color: var(--app-primary-color);
    --app-header-text-color: var(--app-light-text-color);
    --app-header-selected-color: var(--app-secondary-color);

    --app-drawer-background-color: var(--app-primary-color);
    --app-drawer-text-color: var(--app-light-text-color);
    --app-drawer-selected-color: #78909C;

    --mdc-theme-primary: var(--app-primary-color);
    --mdc-theme-secondary: var(--app-secondary-color);
}

body {
    font-family: Inconsolata, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    height: 100%;
    background-color: var(--app-background-color);
}
.page-title{
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}
.pad{
    padding: 1rem;
}
.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}
.mdc-text-field{
    background-color: white !important;
    border: 0!important;
    box-shadow: 0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065);
}
.mdc-text-field{
    width: 100%;
}
.row{
    display: flex;
}
.row>*:not(:last-child){
    margin-right: 16px;
}
img{
    width: 100%
}
// Flex layout styles
    .fixed-bottom,
    .fixed-left,
    .fixed-right,
    .fixed-top {
    position: fixed;
    }

    .fixed-top {
    top: 0;
    left: 0;
    right: 0;
    }

    .fixed-right {
    top: 0;
    right: 0;
    bottom: 0;
    }

    .fixed-bottom {
    right: 0;
    bottom: 0;
    left: 0;
    }

    .fixed-left {
    top: 0;
    bottom: 0;
    left: 0;
    }
    .layout.horizontal,
    .layout.vertical {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    }

    .layout.horizontal {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    }

    .layout.vertical {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    }

    .layout.wrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    }

    .layout.no-wrap {
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    }

    .layout.center,
    .layout.center-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }

    .layout.center-justified,
    .layout.center-center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    }

    .flex {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    }

    /**
    * Alignment in cross axis.
    */

    .layout.start {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    }

    .layout.center,
    .layout.center-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }

    .layout.end {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    }

    .layout.baseline {
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
    }

    /**
    * Alignment in main axis.
    */

    .layout.start-justified {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    }

    .layout.center-justified,
    .layout.center-center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    }

    .layout.end-justified {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    }

    .layout.around-justified {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    }

    .layout.justified {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    }
    .flex,
    .flex-1 {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    }

    .flex-2 {
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2;
    }

    .block {
    display: block;
    }

    [hidden] {
    display: none !important;
    }

    .invisible {
    visibility: hidden !important;
    }

    .relative {
    position: relative;
    }

    .fit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }

    body.fullbleed {
    margin: 0;
    height: 100vh;
    }

    .scroll {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    }

