<header class="pad">
  <div class="toolbar">
    <h1 class="page-title">Dashboard</h1>
  </div>
  
</header>
<main>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">

        <!-- Dashboard summary -->
        <div class="card pad summary-item">
          <h1 class="summary-item--title">Total Visits</h1>
          <span class="summary-item--value">267</span>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <div class="card pad summary-item">
          <h1 class="summary-item--title">Total Orders</h1>
          <span class="summary-item--value">47</span>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <div class="card pad summary-item">
          <h1 class="summary-item--title">Product Views</h1>
          <span class="summary-item--value">3k</span>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <div class="card pad summary-item">
          <h1 class="summary-item--title">New Customers</h1>
          <span class="summary-item--value">26</span>
        </div>
      </div>

      <!-- Some graphs that show activity -->
      <div class="mdc-layout-grid__cell">
        <div class="card" style="height: 50%;background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
          <header class="pad">
            <h1 style="color: white">Traffic</h1>
          </header>
          <canvas #trafficChart></canvas>
        </div>
        <div class="card" style="height: 50%;background: white;">

        </div>
      </div>

      <!-- Sales and engagement carts -->
      <div class="mdc-layout-grid__cell sales-engagement">
        <div class="card mb-1">
          <header class="pad">
            <h1>Total Sales</h1>
          </header>
          <canvas #salesChart></canvas>
        </div>
        <div class="card">
          <header class="pad">
            <h1>Engagement</h1>
          </header>
          <canvas #engagementChart></canvas>
        </div>
      </div>

      <div class="mdc-layout-grid__cell">
        <div class="card" style="height: 100%;background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
"></div>
      </div>

      <!-- Something else -->
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="card" style="height: 400px;background: white;"></div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="card" style="height: 100%;background: white;"></div>
      </div>
    </div>
  </div>
</main>