<header class="pad">
  <div class="toolbar">
    <h1 class="page-title">Dashboard</h1>
  </div>
  
</header>
<main>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell">A</div>
      <div class="mdc-layout-grid__cell">B</div>
      <div class="mdc-layout-grid__cell">C</div>
      <div class="mdc-layout-grid__cell">D</div>
      <div class="mdc-layout-grid__cell">E</div>
      <div class="mdc-layout-grid__cell">F</div>
      <div class="mdc-layout-grid__cell">G</div>
    </div>
  </div>
</main>